:root {
    --primary-bg: #fafafa;
    --primary-text: #222;
}

.dark {
    --primary-bg: #1a202c;
    --primary-text: #e2e8f0;
}

body {
    font-family: system-ui, sans-serif;
    background: url("./img/wallpaper.png") no-repeat center center fixed !important;
    background-size: cover !important;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: #0077ff;
}

section {
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.modal {
    pointer-events: none;
}

.autopointer {
    pointer-events: auto;
}