body {
    font-family: system-ui, sans-serif;
    background-color: #fafafa;
    background-image: repeating-linear-gradient(45deg,
            #90c9fe,
            #a3bdff 10px,
            #aac0ff 10px,
            #9cc2f9 20px);
    color: #222;
    margin: auto;
}

h1 {
    color: #0077ff;
}

section {
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.modal {
    pointer-events: none;
}


.autopointer {
    pointer-events: auto;
}